variable "table_name" {
  description = "The name of the Glue table"
  type        = string
}

variable "database_name" {
  description = "The name of the Glue database"
  type        = string
}

variable "bucket_name" {
  description = "The name of the S3 bucket"
  type        = string
}

variable "prefix" {
  description = "The name of the S3 bucket prefix"
  type        = string
}

variable "columns" {
  description = "List of columns for the Glue table"
  type        = list(object({
    name    = string
    type    = string
    comment = string
  }))
}

# Target S3 bucket
resource "aws_dms_endpoint" "{{platformName}}_{{sourceName}}_staging_target" {
  endpoint_id   = "{{platformName}}-{{sourceName}}-s3-target-endpoint"
  endpoint_type = "target"
  engine_name   = "s3"
  service_access_role = aws_iam_role.{{platformName}}_dms_access_for_staging_bucket.arn
  s3_settings {
    bucket_name = aws_s3_bucket.{{platformName}}_staging_bucket.bucket/${var.prefix}
  }
}

resource "aws_glue_catalog_table" "table" {
  name          = var.table_name
  database_name = var.database_name

  table_type = "EXTERNAL_TABLE"

  open_table_format_input {
    iceberg_input {
        metadata_operation = "CREATE"
    }
  }
  parameters = {
    EXTERNAL              = "TRUE"
    "parquet.compression" = "SNAPPY"
  }

  storage_descriptor {
    location      = "s3://${var.bucket_name}"

    input_format  = "org.apache.iceberg.mr.hive.HiveIcebergInputFormat"
    output_format = "org.apache.iceberg.mr.hive.HiveIcebergOutputFormat"

    ser_de_info {
      name                  = "my-stream"
      serialization_library = "org.apache.iceberg.mr.hive.HiveIcebergSerDe"
    }

    dynamic "columns" {
      for_each = var.columns
      content {
        name    = columns.value.name
        type    = columns.value.type
        comment = columns.value.comment
      }
    }
  }
}
