**/__pycache__/*.pyc
src/datasurface/md/__pycache__/Governance.cpython-311.pyc
src/tests/__pycache__/test_cyclic_equals.cpython-311-pytest-7.4.0.pyc
src/tests/__pycache__/test_nwdb.cpython-311-pytest-7.4.0.pyc
src/tests/__pycache__/test_nwdb.cpython-311-pytest-7.4.0.pyc
src/tests/nwdb/__pycache__/eco.cpython-311.pyc
src/datasurface/md/__pycache__/Governance.cpython-311.pyc
**/env/*
**/.gradle/*
dist/*
src/datasurface.egg-info/*
**/*.pyi
**/.terraform/*
**/*.hcl
**/*.class
**/build/*
.coverage
**/derby.log
**/.DS_Store
**/spark-warehouse/*
**/ice_warehouse/*

java/dmsingester/bin/**
**/venv/*
