Jinja2==3.1.4
psycopg2==2.9.9
pycountry==23.12.11
pydantic==2.10.2
pytest==8.3.3
python-dateutil==2.8.2
SQLAlchemy==2.0.36
types-python-dateutil==2.8.19.20240106
typing_extensions==4.12.2
PyGithub==2.2.0
avro==1.11.3
grpcio-tools==1.62.1
grpc-stubs==1.53.0.5
pyspark==3.5.3
fastapi==0.115.6
